{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
	<div id="header">
		<span class="logo">Bookmarks</span>
		{% if request.user.is_authenticated %}
			<ul class="menu">

				<li {% if section == 'dashboard' %}class="selected"{% endif %}>
					<a href="{% url 'account:dashboard' %}">My dashboard</a>
				</li>

				<li {% if section == 'images' %}class="selected" {% endif %}>
					<a href="#">Images</a>
				</li>

				<li {% if section == 'people' %}class="selected" {% endif %}>
					<a href="#">People</a>
				</li>
			</ul>
		{% endif %}

		<span class="user">
			{% if request.user.is_authenticated %}
				Hello {{ request.user }}
				<a href="{% url 'account:logout' %}">Logout</a>
			{% else %}
				<a href="{% url 'account:login' %}">Log-in</a>
			{% endif %}
		</span>
	</div>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">
					{{ message|safe }}
					<a href="#" class="close">x</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>
</body>
</html>