{% extends 'base.html' %}

{% block title %}Logged out{% endblock %}

{% block content %}
	<h1>Logged out</h1>
	<p>You have been successfully logged out. You can <a href="{% url 'account:login' %}">Log in again.</a> </p>
{% endblock %}