{% extends 'base.html' %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
	<h1>Forgotten your password?</h1>
	<p>Enter your email address to obtain a new password.</p>
	<form action="." method="post">
		{{ form.as_p}}
		<input type="submit" value="Send e-mail">
		{% csrf_token %}
	</form>
{% endblock %}