{% extends 'base.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}
	<h1>Create an account</h1>
	<p>Please sign up using the following form:</p>
	<form action="." method="post">
		{{ form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Create my account"></p>
	</form>
{% endblock %}